# --- Base de données PostgreSQL ---
POSTGRES_USER=utilisateur
POSTGRES_PASSWORD=mot_de_passe
POSTGRES_DB=task_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# URL de connexion pour l'ORM (ex: SQLAlchemy dans FastAPI)
DATABASE_URL=postgresql://utilisateur:mot_de_passe@db:5432/task_db

# --- Configuration de l'API (FastAPI) ---
API_PORT=8000
ENVIRONMENT=development

# --- Sécurité ---
# Clé secrète pour la génération des tokens (JWT)
SECRET_KEY=cle_secrete