# --- Secrets & Environnement ---
.env

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# --- IDE et OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Docker ---
docker-compose.override.yml

# --- Frontend ---
frontend/node_modules/